body {
    background-color:#f0f4f8;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #1D9E75;
    font-size: 18px;
}

p {
    color: #555555;
    font-size: 48px;
}